.coverage
.ipynb_checkpoints/
src/__pycache__/
tests/__pycache__/

*.DS_Store
*.vscode

data/*
*/data/*
*dask-worker-space/
*/images/*
to_archieve/*
*.csv
data_per_seed/

src/evol_dynamics.egg-info/*
src/evol_dynamics/__pycache__/*

*synctex.gz
*.fdb_latexmk
*.aux
*.out
*.log
*.bbl
*.blg
*.fls

paper/cover
