.coverage
.ipynb_checkpoints/
src/__pycache__/
tests/__pycache__/

*.DS_Store
*.vscode

data/*
*/data/*
*dask-worker-space/
*/images/*
sh/*

src/evol_dynamics.egg-info/*
src/evol_dynamics/__pycache__/*
